h4 {
    margin: 0px;
    font-size: 1.2vw;
}

.menu-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-width: 220px;
    margin-top: 30px;
    margin-right: 40px;
    grid-area: side-bar;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.541);
}
.deck-container{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 15px 15px 15px;

}
#deck{
    width :50px;
    height : 70px;
    background-position: center;
    background-size : cover;
    border : 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
    color: rgb(251, 253, 253);
}
.player-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#player{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#player-name-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}
#player-score-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
button.start {
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 7px;
    font-size: 2vw;
}

  
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.joinChatContainer input {
    width: 180px;
    height: 40px;
    margin: 7px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }

  .joinChatContainer button {
    width: 200px;
    height: 50px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #43a047;
    color: #fff;
    cursor: pointer;
  }

  .joinChatContainer button:hover {
    background: #2e7d32;
  }
  .chat-window .chat-header {
    height: 45px;
    border-radius: 6px;
    background: #263238;
    position: relative;
    cursor: pointer;
  }
  .chat-window .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
    margin : 5px;
  }
  .chat-window .chat-body {
    height: 200%;
    border: 1px solid #263238;
    background: #fff;
    position: relative;
    
  }

  .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  
 
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
   .chat-window .chat-body .message {
    height: auto;
    display: flex;
   }
  #you {
    justify-content: flex-start;
  }
  
  #you .message-content {
    justify-content: flex-start;
  }
  
  #you .message-meta {
    justify-content: flex-start;
    margin-left: 5px;
  }
  
  #other {
    justify-content: flex-end;
  }
  
  #other .message-content {
    justify-content: flex-end;
    background-color: cornflowerblue;
  }
  
  #other .message-meta {
    justify-content: flex-end;
    margin-right: 5px;
  }
  
  .message-meta #author {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .chat-window .chat-body .message .message-meta  {
    display :flex;
    font-size: 12px;
  }   
   
  .chat-window .chat-footer {
    height: 30px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
  }
 
   .chat-window .chat-footer input {
    height: 90%;
    flex: 50%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;
  
    outline: none;
    font-family: "Open Sans", sans-serif;
  }
   
  .chat-window .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 50%; 
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
  }
  
  .chat-window .chat-footer button:hover {
    color: #43a047;
  }
  .hide {
    opacity: 0 !important;
  }
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    min-height: 40px;
    max-width: 120px;
    background-color: #43a047;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
  } 